.app {
  background-color: lightcoral;
  padding: 3vw;
}

.main-pokemon {
  background-color: seashell;
  border-radius: 20px;
  padding: 3vw;
  flex-grow: 2;
  margin: 20px;
}
.main-pokemon img{
  width: 100%;
  background-color: lightgreen;
  border-radius: 20px;
}

.pokedex{
  display:flex;
}
.preview{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 200px;
}
.pokemon{
  background-color: seashell;
  padding: 3vw;
  margin: 20px;
  border-radius: 20px;
}
.pokemon.selected{
  background-color: lightgoldenrodyellow;
}
.pokemon p{
  position: absolute;
}
